@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

/* ------------------------------------------------------------------------------------------------ NAV */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(58, 55, 51);
}

li {
  float: left;
}

li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
p.einleitend {
  color: rgb(58, 55, 51);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  font-size: 150%;
  text-align: center;
  line-height: 1.2em;
}

h1 {
  padding-top: 2%;
  font-family: "Abril Fatface";
  text-align: center;
  color: rgb(58, 55, 51);
  font-weight: normal;
  font-size: 300%;
  letter-spacing: 0.02em;
}
article {
  border-color: rgb(58, 55, 51);
  border-style: solid;
  border-width: 0, 5em;
  margin: 2%;
  display: inline-block;
}
div {
  /*border-color: black;
    border-style: solid;
    border-width: 1%;*/
  display: flex;
}
div h2 {
  text-align: center;
  font-family: "Abril Fatface", serif;
  font-weight: normal;
  color: rgb(58, 55, 51);
}
div p {
  font-family: "Work Sans", sans-serif;
  margin: 10%;
  color: rgb(58, 55, 51);
  font-weight: 300;
  font-size: 120%;
  text-align: left;
}
img.art {
  display: block;
  width: 80%;
  height: auto;
}

img {
  display: block;
  margin: 10%;
  object-fit: contain;
  width: 80%;
  height: auto;
}

/* ------------------------------------------------------------------------------ header -------------- */

header {
  position: sticky;
  background-color: rgb(58, 55, 51);
  background-image: url("https://picsum.photos/1200/400?grayscale");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
header p {
  text-shadow: 0.02em 0.02em whitesmoke;
  padding-top: 3%;
  font-family: "Abril Fatface";
  text-align: center;
  color: rgb(58, 55, 51);
  font-weight: normal;
  font-size: 500%;
  letter-spacing: 0.02em;
}
/* ------------------------------------------------------------------------------ footer -------------- */
footer {
  background-color: rgb(58, 55, 51);
  padding: 2%;
}

footer p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: papayawhip;
  font-family: "Abril Fatface";
  letter-spacing: 0.1em;
  font-size: 100%;
}
footer a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: papayawhip;
  font-family: "Abril Fatface";
  letter-spacing: 0.15em;
}
/* ---------------------------------------------------------------------- button stuff -----------------*/
button {
  font-family: "Abril Fatface";
  letter-spacing: 0.08em;
  color: whitesmoke;
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  padding: 0.5em;
}
button:hover {
  text-decoration: none;
}
button.a {
  text-decoration: none;
  color: yellowgreen;
  text-decoration: none;
}
button {
  text-align: center;
  text-decoration: none;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: rgb(58, 55, 51);
  padding: 0.5em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}
