* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --my-color: pink;
  --my-border: black solid 9px;
}
/* === Variables^ ==== */
/* use variable: 
color: var(--my-color) */
/* === pseudo elements VS  pseudo classes === */

/* pseudo-class is a keyword added to a selector that specifies a special state of the selected element(s). */
/* more pseudo classes
  :valid
  :hover */

/* pseudo-element is a keyword added to a selector that lets you style a specific part of the selected element(s) */
/* ::before  Vs :before */
/*   
    :before css2 and ::before is css3
  */

div[class="main-text"]::after {
  content: "🦘";
}
div[class="main-text"]::before {
  content: "🐼";
}
/* ::placeholder  */
[type="text"]::placeholder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}

/* ::first-letter (:first-letter) */
.text::first-letter {
  color: var(--my-color);
  font-weight: bold;
  font-size: 2rem;
}
/* display:none vs opacity: 0 */
.tree {
  width: 25vw;
  height: 25vw;
  box-shadow: 7px 7px 7px cadetblue;
  opacity: 0.5;
  filter: grayscale(50);
}
.tree:hover {
  transition: 1.1s ease-in-out;
  opacity: 1;
  filter: grayscale(0);
  width: 30vw;
  height: 30vw;
}
/* vh & vw */
/* 1 vh = 1% of height of viewport */
/* 1 vw = 1% of width of viewport */

.menu {
  width: 50vw;
  height: auto;
  background-color: coral;
  border: var(--my-border);
}
ul li {
  display: inline-block;
  margin: 1vw;
}
/* visual content like img */
/*  % , border-radius */
.img-text {
  margin: 5%;
}
.last-text {
  margin: 5%;
}
.last-img {
  margin: 5%;
}

/* hover one element change other element */
/* need a relation!!!! */
