.box {
  position: fixed;
  @include center;
  @include fade-in(5s);
  @include sizing;
  background-color: snow;
  right: 25vw;
  top: 20vw;
}
@keyframes fade-in {
  0% {
    @include hide;
    transform: rotate(0deg);
  }
  100% {
    @include reveal;
    transform: rotate(365deg);
  }
}
