.header {
  @include get-big(5s);
  @include center;
  @include sizing;
}
@keyframes get-big {
  0% {
    transform: scale(1) translateX(0rem) translateY(0rem);
    background-color: salmon;
  }
  50% {
    background-color: lightpink;
    // transform: scale(2);
  }
  100% {
    transform: scale(3) translateX(9rem) translateY(9rem);
    background-color: salmon;
  }
}
