.done {
  position: relative;
  border: coral 5px solid;
  display: none;
  padding: 1rem;
  background-color: lightcoral;
  width: 30%;
}
.close {
  position: absolute;
  right: 3%;
  transition: 0.4s;
  cursor: pointer;
  line-height: 1rem;
  color: papayawhip;
}
.close:hover {
  color: coral;
  transform: scale(2);
}
