/* general setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font fix */
:root {
  font-size: 16px;
}
/* font */
p {
  font: italic 1.5rem fantasy;
  word-break: normal;
  text-indent: 3rem;
  word-spacing: 1rem;
}

/* direction */
h1 {
  writing-mode: vertical-lr;
}
a {
  text-decoration: none;
  color: antiquewhite;
  transition: 0.4s;
}
.menu {
  width: 100vw;
  background-color: lightblue;
}
.menu ul {
  height: 5vh;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main {
  width: 100vw;
  height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: column;
}
li:hover {
  border-bottom: 2px solid olive;
  transform: scale(1.5);
}
.main-intro {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gray {
  width: 50rem;
  height: 50rem;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  background-color: gainsboro;
  z-index: -2;
  transform: rotate(45deg);
  border-radius: 10%;
}
.orange {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 10rem;
  top: -10rem;
  background-color: lightblue;
  z-index: -1;
  transform: rotate(45deg);
  border-radius: 10%;
}
/* positions */
/* static aka Default*/
.more-info {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
